.navbar {
  background-color: 
#353641;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
   left: 0;
  right: 0;

}
 
.navbar h1 {
  color: white;
  cursor: pointer;
  margin: 0;
  font-size: 24px;
}

.navbar h3 {
  color: white;
  margin: 0 20px;
  font-size: 18px;
  flex: 1;
  text-align: center;
}

.navbar button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background-color: 
#4caf50;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: 
#45a049;
}

.navbar .logoutbutton {
  background-color: red;
}

.navbar .logoutbutton:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar h3 {
    text-align: left;
    margin: 10px 0;
  }

  .navbar div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar button {
    width: 100%;
    margin: 5px 0;
  }
}
